[Unit]
Description=Remote desktop service (VNC)
After=network.target
Requires=network.target

[Service]
Type=forking
User=vscode
Group=vscode
WorkingDirectory=/home/vscode

PIDFile=/home/vscode/.vnc/%H:%i.pid
ExecStartPre=-/usr/bin/vncserver -kill :%i > /dev/null 2>&1
ExecStart=/usr/bin/vncserver :%i -localhost no -geometry 1920x1080 -depth 24
ExecStop=/usr/bin/vncserver -kill :%i
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
